$cover :100%;
$zero :0px;
$fontFamily:Arial;
html,
body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    font-family: $fontFamily;
}
*{
    box-sizing: initial;
}
.btn-group{
    position: initial;
    display: block;
}
