<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC
        "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- 配置别名 -->
    <!-- 配置环境变量 -->
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC" />
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver" />
                <property name="url" value="jdbc:mysql://10.20.99.200:3306/duoshouapp" />
                <property name="username" value="campusbus" />
                <property name="password" value="sustc2016" />
            </dataSource>
        </environment>
    </environments>

    <!-- 配置mappers -->
    <mappers>

    </mappers>

</configuration>