<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<body>
		<div id="myCarousel" class="carousel slide" data-interval="false" data-wrap="false">
			<!-- 轮播（Carousel）指标 -->
			<div class="carousel-inner">
				<div class="item active">
					<div class="session-items">
						<div class="session-item">
							<div class="content-block clearfix">
								<div class="img-block"></div>
								<div class="session-info">
									内容介绍：一般是文字信息或标题或其他
								</div>
								<div class="session-status">
									当前状态:第3步&nbsp;&nbsp;审核中
								</div>
								<div class="session-createtiem">
									2016年8月13日
								</div>
							</div>
							<h4 class="session-title">请假事项</h4>
						</div>
						<div class="session-item">
							<div class="content-block clearfix">
								<div class="img-block"></div>
								<div class="session-info">
									内容介绍：一般是文字信息或标题或其他
								</div>
								<div class="session-status">
									当前状态:第3步&nbsp;&nbsp;审核中
								</div>
								<div class="session-createtiem">
									2016年8月13日
								</div>
							</div>
							<h4 class="session-title">请假事项</h4>
						</div>
						<div class="session-item">
							<div class="content-block clearfix">
								<div class="img-block"></div>
								<div class="session-info">
									内容介绍：一般是文字信息或标题或其他
								</div>
								<div class="session-status">
									当前状态:第3步&nbsp;&nbsp;审核中
								</div>
								<div class="session-createtiem">
									2016年8月13日
								</div>
							</div>
							<h4 class="session-title">请假事项</h4>
						</div>
						<div class="session-item">
							<div class="content-block clearfix">
								<div class="img-block"></div>
								<div class="session-info">
									内容介绍：一般是文字信息或标题或其他
								</div>
								<div class="session-status">
									当前状态:第3步&nbsp;&nbsp;审核中
								</div>
								<div class="session-createtiem">
									2016年8月13日
								</div>
							</div>
							<h4 class="session-title">请假事项</h4>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="session-items">
						<div class="session-item">
							<div class="content-block clearfix">
								<div class="img-block"></div>
								<div class="session-info">
									内容介绍：一般是文字信息或标题或其他
								</div>
								<div class="session-status">
									当前状态:第3步&nbsp;&nbsp;审核中
								</div>
								<div class="session-createtiem">
									2016年8月13日
								</div>
							</div>
							<h4 class="session-title">请假事项</h4>
						</div>
						<div class="session-item">
							<div class="content-block clearfix">
								<div class="img-block"></div>
								<div class="session-info">
									内容介绍：一般是文字信息或标题或其他
								</div>
								<div class="session-status">
									当前状态:第3步&nbsp;&nbsp;审核中
								</div>
								<div class="session-createtiem">
									2016年8月13日
								</div>
							</div>
							<h4 class="session-title">请假事项</h4>
						</div>
						<div class="session-item">
							<div class="content-block clearfix">
								<div class="img-block"></div>
								<div class="session-info">
									内容介绍：一般是文字信息或标题或其他
								</div>
								<div class="session-status">
									当前状态:第3步&nbsp;&nbsp;审核中
								</div>
								<div class="session-createtiem">
									2016年8月13日
								</div>
							</div>
							<h4 class="session-title">请假事项</h4>
						</div>
						<div class="session-item">
							<div class="content-block clearfix">
								<div class="img-block"></div>
								<div class="session-info">
									内容介绍：一般是文字信息或标题或其他
								</div>
								<div class="session-status">
									当前状态:第3步&nbsp;&nbsp;审核中
								</div>
								<div class="session-createtiem">
									2016年8月13日
								</div>
							</div>
							<h4 class="session-title">请假事项</h4>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="session-items">
						<div class="session-item">
							<div class="content-block clearfix">
								<div class="img-block"></div>
								<div class="session-info">
									内容介绍：一般是文字信息或标题或其他
								</div>
								<div class="session-status">
									当前状态:第3步&nbsp;&nbsp;审核中
								</div>
								<div class="session-createtiem">
									2016年8月13日
								</div>
							</div>
							<h4 class="session-title">请假事项</h4>
						</div>
						<div class="session-item">
							<div class="content-block clearfix">
								<div class="img-block"></div>
								<div class="session-info">
									内容介绍：一般是文字信息或标题或其他
								</div>
								<div class="session-status">
									当前状态:第3步&nbsp;&nbsp;审核中
								</div>
								<div class="session-createtiem">
									2016年8月13日
								</div>
							</div>
							<h4 class="session-title">请假事项</h4>
						</div>
						<div class="session-item">
							<div class="content-block clearfix">
								<div class="img-block"></div>
								<div class="session-info">
									内容介绍：一般是文字信息或标题或其他
								</div>
								<div class="session-status">
									当前状态:第3步&nbsp;&nbsp;审核中
								</div>
								<div class="session-createtiem">
									2016年8月13日
								</div>
							</div>
							<h4 class="session-title">请假事项</h4>
						</div>
						<div class="session-item">
							<div class="content-block clearfix">
								<div class="img-block"></div>
								<div class="session-info">
									内容介绍：一般是文字信息或标题或其他
								</div>
								<div class="session-status">
									当前状态:第3步&nbsp;&nbsp;审核中
								</div>
								<div class="session-createtiem">
									2016年8月13日
								</div>
							</div>
							<h4 class="session-title">请假事项</h4>
						</div>
					</div>
				</div>
			</div>
			<!--<div class="shadow left "></div>
   <div class="shadow right "></div>-->

			<div class="slide-button left" href="#myCarousel" data-slide="prev"></div>
			<div class="slide-button right" href="#myCarousel" data-slide="next"></div>
		</div>
	</body>

</html>