<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>

	<body>
		<div class="user">
			<h3>个人中心</h3>
			<ul id="myTab" class="nav nav-tabs">
				<li class="active">
					<a href="#account" data-toggle="tab">账号</a>
				</li>
				<li>
					<a href="#ordinary" data-toggle="tab">
						常规
					</a>
				</li>
				<li>
					<a href="#setting" data-toggle="tab">设置</a>
				</li>
			</ul>
			<div id="myTabContent" class="tab-content">
				<div class="tab-pane fade " id="ordinary">
					常规
				</div>
				<div class="tab-pane fade in active" id="account">
					<br />
					<h4 class="title">
   		账号信息
   	</h4>
					<br />
					<form>
						<span class="input-title">用户名：</span><input type="text" />
						<br /><br />
						<span class="input-title">学号：</span><input type="text" />
						<br /><br />
						<span class="input-title">班级：</span><input type="text" />
						<br /><br />
						<span class="input-title">书院：</span><input type="text" />
						<div class="my-hr"></div>
						<span class="input-title">身份证：</span><input type="text" />
						<br /><br />
						<span class="input-title">邮箱：</span><input type="text" />
						<br /><br />
						<span class="input-title">专业：</span><input type="text" />
						<div class="my-hr"></div>
						<div class="log-edit-div">
							<span class="input-title pull-left">我的头像：</span>
							<div class="logo-img pull-left"><img src="img/img/u=3293258984,3387523604&fm=21&gp=0.jpg" /></div>
							<span class="pull-left">(您可以上传一张图片作为自己的头像)</span>
							<br />
							<br />
							<br />
							<button class="pull-left">更改照片</button>
						</div>
					</form>
				</div>
				<div class="tab-pane fade" id="setting">
				</div>
			</div>
		</div>
	</body>

</html>